# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env

# VS Code
.vscode/
*.code-workspace

# Frontend
node_modules/
dist/
.eslintcache

# Logs and databases
*.log
*.sqlite
